@model Games.SharedModels.Requests.PlayerRequests.UpdatePasswordRequest

@{
    ViewBag.Title = "UserEditPasswordView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("UserUpdatePasswordRequest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(a => a.Id);
        <table cellpadding="1" cellspacing="1">
            <tr>
                <td>Old Password:</td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.OldPassword)
                </td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.NewPassword)
                </td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmNewPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.ConfirmNewPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }
</div>

