@model Games.SharedModels.ViewModel.GameViewModels.GameViewModel
@{
    Games.SharedModels.ViewModel.PlayerViewModels.PlayerViewModel player = null;
    if (Request.Cookies["User"] != null && !string.IsNullOrEmpty(Request.Cookies["User"]["Player"]))
    {
        player = Newtonsoft.Json.JsonConvert.DeserializeObject<Games.SharedModels.ViewModel.PlayerViewModels.PlayerViewModel>(Request.Cookies["User"]["Player"]);
    }
}




<div class="card" style="width:15rem; height:35rem;">
    <img style="height:250px;" class="img-fluid" src="@Model.Image">
    <div class="card-body">
        <h5 class="card-title" style="font-size: 15px;">@Model.Name </h5>
        <hr />
        <p class="card-text" style="font-size: 15px;">Number of Players: @Model.NumberOfPlayers.</p>
        <hr />
        <a href="@Model.URL" target="_blank">Play @Model.Name</a>
        <hr />

        @if (player == null)
        {
            <h4>Login to do shit</h4>
        }
        else if (player.IsSuspended)
        {
            <h4>You are suspended, byeeeee</h4>
        }
        else if (player.IsAdmin)
        {
            <div>@Html.ActionLink("Delete Game", "DeleteGameRequest", new { Id = Model.Id })</div>
            @Html.ActionLink("Update Game", "UpdateGame", new { Id = Model.Id })
        }
        else
        {
            <h2>You ain't got no crud permissions bitch.</h2>
        }


    </div>
    <div class="card-body">
        @*<p><a href="http://chess.com/">Play Chess</a></p>*@
        @*<div> @Html.ActionLink("Add To Cart", "AddToCart", "Product", new { Id = Model.Id }, null)  </div>*@

    </div>
</div>
