@model Games.Client.Models.LoginViewModel
@{
    Games.SharedModels.ViewModel.PlayerViewModels.PlayerViewModel player = null;
    if (Request.Cookies["User"] != null && !string.IsNullOrEmpty(Request.Cookies["User"]["Player"]))
    {
        player = Newtonsoft.Json.JsonConvert.DeserializeObject<Games.SharedModels.ViewModel.PlayerViewModels.PlayerViewModel>(Request.Cookies["User"]["Player"]);
    }
}


@if (player == null)
{
    <div>
        @using (Html.BeginForm("Login", "Home"))
        {
            <p style="font-size:12px;">  @Html.LabelFor(p => p.UserName)   </p>
            <p style="font-size:12px;"> @Html.EditorFor(p => p.UserName)  </p>
            <p style="font-size:12px;">  @Html.ValidationMessageFor(p => p.UserName)  </p>
            <p style="font-size:12px;">  @Html.LabelFor(p => p.Password)   </p>
            <p style="font-size:12px;"> @Html.PasswordFor(p => p.Password) </p>
            <p style="font-size:12px;"> @Html.ValidationMessageFor(p => p.Password)   </p>
            <p><input type="submit" value="Log in" style="font-size:12px;" /></p>
        }
        <p>
            <input type="button" value="Register" style="font-size:12px;" onclick="@("window.location.href='" + @Url.Action("AddPlayer", "Home") + "'");" />
        </p>
    </div>
}
else
{
    <div>
        @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>
                Welcome @(player.UserName)
            </p>

            <p>
                <input type="submit" value="Log Out" style="font-size:12px;" />
            </p>
        }
    </div>

}













